@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300;1,400&display=swap");

/* General - Utility */
body {
  background-color: rgb(236, 238, 241);
  color: rgb(80, 80, 80);
  font: 400 12px/150% "Nunito", sans-serif;
}

a {
  color: rgb(0, 119, 197);
  text-decoration: none;
}

/* Top-bar */
.top-bar {
  height: 40px;
  padding: 10px 0;
  width: 100%;
  background-color: blue;
}

/* Logo + Quicklinks */
.logo {
  display: block;
  text-align: center;
  height: 35px;
  margin: 0 auto;
  padding: 20px 0;
}

.quick-links {
  text-align: center;
  height: 38px;
  padding-bottom: 4px;
}

.quick-links li {
  display: inline-block;
}

/* Form */
form {
  width: 318px;
  height: 601px;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  border: 1px solid black;
}

/* Bottom-bar */
.bottom-bar {
  height: 59px;
  padding: 20px 0;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.footer-links {
  text-align: center;
  padding-top: 5px;
}

.footer-links li {
  display: inline-block;
  margin: 0 2.5px;
}

.footer-links a {
  color: rgb(80, 80, 80);
}

.footer-links a:hover {
  text-decoration: underline;
}
