@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300;1,400&display=swap");

/* General - Utility */
body {
  background-color: rgb(236, 238, 241);
  color: rgb(80, 80, 80);
  font: 400 12px/150% "Nunito", sans-serif;
}

a {
  color: rgb(0, 119, 197);
  text-decoration: none;
}

button {
  background-color: rgb(0, 119, 197);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Top-bar */
.top-bar {
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
  padding: 10px 0;
  width: 97vw;
  margin: 0 auto;
}

.sign-in-btn {
  font-size: 1.1em;
  border: 1px solid black;
  height: 32px;
  padding: 0 20px;
  margin-left: 10px;
}

.sign-in-btn img {
  margin-right: 7px;
}

.sign-in-btn div {
  padding-bottom: 7px;
}

/* Logo + Quicklinks */
.logo {
  display: block;
  text-align: center;
  height: 35px;
  margin: 0 auto;
  padding: 20px 0;
}

.quick-links {
  text-align: center;
  height: 38px;
  padding-bottom: 4px;
}

.quick-links li {
  display: inline-block;
}

/* Form */
form {
  width: 318px;
  height: 601px;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
  color: rgb(76, 76, 76);
}

form > header {
  padding-bottom: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  line-height: 120%;
}

h2 {
  padding-top: 20px;
  font-size: 14px;
  line-height: 110%;
}

.email-fieldset {
  height: 95px;
}

.phone-fieldset {
  height: 115px;
}

.pwd-fieldset {
  height: 98px;
}

.pwd-fieldset img {
  position: relative;
  top: -30px;
  left: 280px;
  opacity: 20%;
}

label {
  display: inline-block;
  color: rgb(64, 64, 64);
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 6px;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  border: 1px solid rgb(193, 197, 200);
  border-radius: 3px;
  padding: 0 6px 0 8px;
}

form small {
  font-size: 10px;
  padding: 5px 0;
}

button[type="submit"] {
  padding: 6px 12px;
  width: 100%;
  border: 1px solid rgb(0, 119, 197);
  box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 1px 0px;
  justify-content: center;
  margin-bottom: 20px;
}

button[type="submit"]:hover {
  background-image: linear-gradient(rgb(22, 124, 204), rgb(0, 119, 197));
}

button[type="submit"] img {
  margin-right: 7px;
}

button[type="submit"] div {
  padding-bottom: 7px;
  font-size: 15.75px;
  line-height: 22.5px;
}

.signup-disclaimer {
  text-align: center;
  font-style: italic;
  color: rgb(117, 117, 117);
  width: 90%;
  height: 63px;
  margin: 31px auto 0;
}

form > footer {
  background-color: rgb(236, 238, 241);
  color: rgb(141, 144, 150);
  margin: 32px -30px -30px;
  padding: 16px;
  text-align: center;
}

/* Bottom-bar */
.bottom-bar {
  height: 59px;
  padding: 20px 0;
  width: 97vw;
  margin: 0 auto;
  text-align: center;
}

.footer-links {
  text-align: center;
  padding-top: 5px;
}

.footer-links li {
  display: inline-block;
  margin: 0 2.5px;
}

.footer-links a {
  color: rgb(80, 80, 80);
}

.footer-links a:hover {
  text-decoration: underline;
}
